{{> head }}

{{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>About page</h1>
            <p> 
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique quo sit mollitia dolorum fuga natus ratione optio numquam quos, exercitationem voluptate consequatur magni distinctio corporis, reprehenderit molestias suscipit cumque ex.
            </p>
        </div>

        <div class="col-4">
            <img src="/assets/img/pedro.jpg" alt="img-thumbnail">
        </div>

    </div>

{{> footer }}